.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;

  .logo {
    height: 100px;
    object-fit: cover;
  }
  .title {
    font-size: 36px;
    color: #5a6f07;
  }
}
